[Desktop Entry]
Name=FVPN Client
Comment=FVPN openvpn client
Exec=/usr/lib/fvpn_client_electron/FVPN
Terminal=false
Type=Application
StartupNotify=false
Icon=fvpn_client_electron
Categories=Network;TrayIcon;
StartupWMClass=fvpn
